*{
    margin: 0%;
    padding: 0%;
}


/* sidebar css start */
body > div:nth-child(2){
    display: flex;
}

#sidebar{
    background-color: violet;
    padding: 30px;
    min-width: 14%;
}

#sidebar h2{
    margin-bottom: 20px;
}

#sidebar h3{
    background-color: aquamarine;
    padding: 5px 10px;
    margin-bottom: 20px;
}

#sidebar h3:hover{
    cursor: pointer;
}
/* sidebar css ends */



/* results css start */
#results{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.news{
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.news > div:nth-child(2){
    padding: 0px 0px 0px 15px;  
}

.news p{
    font-size: 15px;
    margin-top: 15px;
}

.news img{
    height: 150px;
    width: 200px;
}
/* results css ends */